<!-- views/recipes/addRecipe.ejs -->

<%- include('../layouts/mainLayout', { title: 'Додати Рецепт', content: '' }) %>

<h1>Додати Рецепт</h1>

<form action="/recipes/add" method="POST">
    <label for="recipeName">Назва рецепту:</label>
    <input type="text" id="recipeName" name="recipeName" required>

    <label for="ingredients">Інгредієнти:</label>
    <textarea id="ingredients" name="ingredients" required></textarea>

    <label for="instructions">Інструкція приготування:</label>
    <textarea id="instructions" name="instructions" required></textarea>

    <button type="submit">Додати Рецепт</button>
</form>
